<div class="container">
  <div class="card mt-3">
    <div class="card-body">
      <h5 class="card-title">Cadastro de tarefas</h5>
      <p class="card-text">Inclua tarefas em sua agenda</p>

      <form [formGroup]="formulario" (submit)="cadastrarTarefa()">
        <div class="row mb-3">
          <div class="col">
            <label>Nome da tarefa:</label>
            <input type="text" class="form-control" formControlName="nome" />
          </div>

          <div class="col">
            <label>Data e hora:</label>
            <input
              type="datetime-local"
              class="form-control"
              formControlName="dataHora"
            />
          </div>

          <div class="col">
            <label>Prioridade:</label>
            <select class="form-select" formControlName="prioridade">
              <option value="">Escolha uma opção</option>
              <option value="1">Alta</option>
              <option value="2">Média</option>
              <option value="3">Baixa</option>
            </select>
          </div>
        </div>

        <div class="row mb-3">
          <div class="col">
            <label>Descrição da tarefa:</label>
            <textarea
              class="form-control"
              formControlName="descricao"
            ></textarea>
          </div>
        </div>

        <div class="row mb-3">
          <div class="col">
            <input
              type="submit"
              value="Cadastrar Tarefa"
              class="btn btn-primary"
            />
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
